force-app/main/default/flows/Create_Care_Observations_from_Platform_Events.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Create Care Observations from Platform Events {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Care Observations from Platform Events</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_CareObservation</name>
        <label>Create CareObservation</label>
        <locationX>176</locationX>
        <locationY>562</locationY>
        <inputAssignments>
            <field>CodeId</field>
            <value>
                <elementReference>Get_CodeSet.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDateTime</field>
            <value>
                <elementReference>$Record.ObservationDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.ObservationName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumericValue</field>
            <value>
                <elementReference>$Record.ObservationValue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObservedSubjectId</field>
            <value>
                <elementReference>$Record.ObservedSubjectId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitOfMeasureId</field>
            <value>
                <elementReference>Get_UnitOfMeasure.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CareObservation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_CodeSet</name>
        <label>Get CodeSet</label>
        <locationX>176</locationX>
        <locationY>251</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_UnitOfMeasure</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Code</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>healthkit-fvc</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CodeSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_UnitOfMeasure</name>
        <label>Get UnitOfMeasure</label>
        <locationX>176</locationX>
        <locationY>393</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_CareObservation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Liter</stringValue>
            </value>
        </filters>
        <filters>
            <field>UnitCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>l</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UnitOfMeasure</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_CodeSet</targetReference>
        </connector>
        <object>Observation_Event__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
</Flow>
