force-app/main/default/flows/Create_Care_Observations_from_Platform_Events.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>If_observation_exists</name>
        <label>If observation exists</label>
        <locationX>182</locationX>
        <locationY>554</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DoentExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCareObservation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CareObservation_0</targetReference>
            </connector>
            <label>Doesn&apos;t Exists</label>
        </rules>
    </decisions>
    <interviewLabel>Create Care Observations from Platform Events {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Care Observations from Platform Events</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_CareObservation_0</name>
        <label>Create CareObservation</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <inputAssignments>
            <field>CodeId</field>
            <value>
                <elementReference>Get_CodeSet.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDateTime</field>
            <value>
                <elementReference>$Record.ObservationDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExternalId__c</field>
            <value>
                <elementReference>$Record.Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.ObservationName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumericValue</field>
            <value>
                <elementReference>$Record.ObservationValue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObservedSubjectId</field>
            <value>
                <elementReference>$Record.ObservedSubjectId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitOfMeasureId</field>
            <value>
                <elementReference>Get_UnitOfMeasure.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CareObservation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_CodeSet</name>
        <label>Get CodeSet</label>
        <locationX>182</locationX>
        <locationY>194</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_UnitOfMeasure</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Code</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CodeSet_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CodeSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_UnitOfMeasure</name>
        <label>Get UnitOfMeasure</label>
        <locationX>182</locationX>
        <locationY>314</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCareObservation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UnitCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.UOM__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UnitOfMeasure</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCareObservation</name>
        <label>GetCareObservation</label>
        <locationX>182</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_observation_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ExternalId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CareObservation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_CodeSet</targetReference>
        </connector>
        <object>Observation_Event__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
</Flow>
